Dommy.Win8/Service References/DommyService/ActionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dommy.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dommy.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ActionData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActionData" nillable="true" type="tns:ActionData" />
  <xs:complexType name="AboutActionData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionData">
        <xs:sequence>
          <xs:element minOccurs="0" name="AboutName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AboutActionData" nillable="true" type="tns:AboutActionData" />
  <xs:complexType name="OnOffLightActionData">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ActionData">
        <xs:sequence>
          <xs:element minOccurs="0" name="IsOn" type="xs:boolean" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OnOffLightActionData" nillable="true" type="tns:OnOffLightActionData" />
  <xs:complexType name="ArrayOfActionData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ActionData" nillable="true" type="tns:ActionData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfActionData" nillable="true" type="tns:ArrayOfActionData" />
</xs:schema>