Dommy.Win8/Service References/DommyService/ActionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ActionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetHttpBinding_ActionService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ActionService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ActionService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ActionService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dommy.Model" />
      <xsd:import schemaLocation="http://localhost/ActionService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ActionService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="ActionService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="ActionService_GetDatas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDatas" />
  </wsdl:message>
  <wsdl:message name="ActionService_GetDatas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDatasResponse" />
  </wsdl:message>
  <wsdl:message name="ActionService_Run_InputMessage">
    <wsdl:part name="parameters" element="tns:Run" />
  </wsdl:message>
  <wsdl:message name="ActionService_Run_OutputMessage">
    <wsdl:part name="parameters" element="tns:RunResponse" />
  </wsdl:message>
  <wsdl:message name="ActionService_GetActions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetActions" />
  </wsdl:message>
  <wsdl:message name="ActionService_GetActions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetActionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ActionService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ActionService/GetData" message="tns:ActionService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ActionService/GetDataResponse" message="tns:ActionService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDatas">
      <wsdl:input wsaw:Action="http://tempuri.org/ActionService/GetDatas" message="tns:ActionService_GetDatas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ActionService/GetDatasResponse" message="tns:ActionService_GetDatas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Run">
      <wsdl:input wsaw:Action="http://tempuri.org/ActionService/Run" message="tns:ActionService_Run_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ActionService/RunResponse" message="tns:ActionService_Run_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetActions">
      <wsdl:input wsaw:Action="http://tempuri.org/ActionService/GetActions" message="tns:ActionService_GetActions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ActionService/GetActionsResponse" message="tns:ActionService_GetActions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetHttpBinding_ActionService" type="tns:ActionService">
    <wsp:PolicyReference URI="#NetHttpBinding_ActionService_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap12:operation soapAction="http://tempuri.org/ActionService/GetData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatas">
      <soap12:operation soapAction="http://tempuri.org/ActionService/GetDatas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Run">
      <soap12:operation soapAction="http://tempuri.org/ActionService/Run" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetActions">
      <soap12:operation soapAction="http://tempuri.org/ActionService/GetActions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ActionService">
    <wsdl:port name="NetHttpBinding_ActionService" binding="tns:NetHttpBinding_ActionService">
      <soap12:address location="http://localhost/ActionService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://localhost/ActionService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>